.wrapped {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    line-height: 170px;
}

.logo_link {
    font-size: 80px;
    color: black;
    text-decoration: none;
}

.part_color {
    color: #4bcaff;
}

.top_nav_menu {
    line-height: 60px;
    margin-bottom: 50px;
    background-color: #35444f;
    text-align: center;
}

.top_nav_menu>li {
    display: inline-block;
    list-style: none;
    box-sizing: border-box;
}

.top_nav_menu>li>a {
    color: white;
    font-size: 24px;
    padding: 0 40px;
    margin: 0 10px;
    text-decoration: none;
}

.top_nav_menu>li:hover {
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: #222f3a;
    box-sizing: border-box;
}

.left_nav {
    width: 25%;
    border: 1px solid black;
    margin-right: 4%;
    float: left;
}

.left_nav__item {
    display: block;
    line-height: 75px;
    text-decoration: none;
    font-size: 27px;
    color: #495863;
    padding-left: 50px;
}

.left_nav__item:hover {
    background-color: #dbdbdb;
    padding-left: 70px;
    color: #000000;
    transition: padding-left 0.5s ease-out;
}

.main_content {
    display: inline-block;
    width: 70%;
}

.img {
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 45px;
}

.img>a>img:hover {
    transform: scale(1.2);
    transition: 1s linear;
}

p {
    padding: 0 30px;
}

.bottom_info {
    margin-top: 30px;
    background-color: #b4b7ba;
}

.footer_nav {
    display: inline-block;
    width: 60%;
}

.footer_nav>li {
    display: inline-block;
    padding: 0 20px;
}

.footer_nav>li>a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.footer_nav>li>a:hover {
    color: #3181a6;
    text-decoration: underline;
}

.bottom_info p {
    text-align: right;
    width: 30%;
    display: inline-block;
    font-size: 18px;
    color: black;
}